<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[拜拜]</key>
	<string>d_baibai</string>
	<key>[悲伤]</key>
	<string>d_beishang</string>
	<key>[鄙视]</key>
	<string>d_bishi</string>
</dict>
</plist>
